<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/all.css" />
  <link rel="icon" type="image/png" sizes="32x32" href="/image/favicon.png" />
  <script
    src="https://kit.fontawesome.com/f4e7d62f88.js"
    crossorigin="anonymous"
  ></script>
  <title><%= pageTitle %></title>
</head>
