<header class="header">
  <img
    class="header__logo"
    src="/image/logo.png"
    alt="logo"
    onclick="redirectToPage('/')"
  />
  <p class="header__title"><%= pageTitle %></p>
  <img
    class="header__profile"
    src="/image/profile.png"
    alt="profile"
    onclick="toggleModal()"
  />
  <div class="header__modal">
    <a href="/">Support Service</a>
    <a href="/user/<%= user.user_id %>">Мой Профиль</a>
    <a href="/api/signOut">Выход</a>
  </div>
</header>
