<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body
    style="
      background-color: #0064d9;
      height: 100vh;
      display: flex;
      align-items: center;
    "
  >
    <% if(newUser) { %>
    <form action="/api/signUp" method="post" class="authForm">
      <legend>Регистрация</legend>
      <% if (error) { %>
      <p style="color: red"><%= error %></p>
      <% } %>
      <input type="email" placeholder="Email" name="email" />
      <input type="password" placeholder="Пароль" name="password" />
      <button type="submit">Зарегистрироваться</button>
      <a href="/login">Уже есть аккаунт? Вход</a>
    </form>

    <% } else {%>
    <form action="/api/signIn" method="post" class="authForm">
      <legend>Авторизация</legend>

      <% if(error) { %>
      <p style="color: red"><%= error %></p>
      <% } %>

      <input type="email" placeholder="Email" name="email" />
      <input type="password" placeholder="Пароль" name="password" />
      <button type="submit">Войти</button>
      <a href="/register">Нету аккаунта? Регистрация</a>
    </form>
    <% }%>
  </body>
</html>
