<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body
    style="
      background-color: #0064d9;
      height: 100vh;
      display: flex;
      align-items: center;
    "
  >
    <form action="/auth/signIn" method="post" class="authForm">
      <legend>Авторизация</legend>

      <% if(error) { %>
      <p style="color: red"><%= error %></p>
      <% } %>

      <input type="email" placeholder="Email" name="email" />
      <input type="password" placeholder="Пароль" name="password" />
      <button type="submit">Войти</button>
      <a href="/register">Нету аккаунта? Регистрация</a>
    </form>
  </body>
</html>
